/*
 * Empty Stylesheet file.
 */


    
    #defaultButton{
        -fx-cursor: hand;
        -fx-background-color: transparent;    
    }
    #maleButton{
        -fx-cursor: hand;
        -fx-background-color: transparent;    
    }
    
    #womanButton{
        -fx-cursor: hand;
        -fx-background-color: transparent;    
    }

