#searchButton {
    -fx-background-color: transparent; /* Rimuove il colore di sfondo */
    -fx-border-color: transparent;    /* Rimuove il bordo */
    -fx-padding: 0;                   /* Rimuove i margini interni */
    -fx-cursor: hand;                 /* Cambia il cursore al passaggio */
}

#addButton {
     -fx-cursor: hand;    
     -fx-background-color: transparent; 
}

#scrittaPreferiti{
    -fx-font-family: "Grantham Sangam MN";
    -fx-font-size: 14px;
    -fx-text-fill: black;  /* Colore personalizzato */
    -fx-font-weight: bold;  /* Grassetto */
}

#editButton {
     -fx-cursor: hand;
     -fx-background-color: transparent;
}

#addPrefButton{
    -fx-cursor: hand;
    -fx-background-color: transparent;
}
