.root {
    -fx-background-color: pink;  /* Colore di sfondo */
}

AnchorPane {
    -fx-background-color: white; /* Colore di sfondo */
}


#searchButton {
 /*   -fx-border-color: transparent;     Rimuove il bordo */
  /*  -fx-padding: 0;                    Rimuove i margini interni */
    -fx-cursor: hand;                 /* Cambia il cursore al passaggio */
    -fx-background-color: transparent; /* Rimuove il colore di sfondo */
}

#addButton {
     -fx-cursor: hand;    
     -fx-background-color: transparent; 
}

#viewAddButton {
     -fx-cursor: hand;    
     -fx-background-color: transparent; 
}

.scroll-bar {
    -fx-background-color: lightgrey; /* Colore di sfondo */
    -fx-border-color: black; /* Colore del bordo */
    -fx-pref-width: 15px; /* Larghezza della scroll bar verticale */
    -fx-pref-height: 15px; /* Altezza della scroll bar orizzontale */
}

#scrittaPreferiti{
    -fx-font-family: "Grantham Sangam MN";
    -fx-font-size: 14px;
    -fx-text-fill: black;  /* Colore personalizzato */
    -fx-font-weight: bold;  /* Grassetto */
}

#editButton {
     -fx-cursor: hand;
     -fx-background-color: transparent;
}

#addPrefButton{
    -fx-cursor: hand;
    -fx-background-color: transparent;
}

#deleteButton{
    -fx-cursor: hand;
    -fx-background-color: transparent;
}

#modifyButton{
    -fx-cursor: hand;
    -fx-background-color: transparent;    
}

.dati{
    -fx-border-color: pink;      /* Colore del bordo */
    -fx-border-width: 2px;        /* Larghezza del bordo */
    -fx-border-radius: 5px;       /* Arrotonda gli angoli del bordo */
    -fx-padding: 5px;             /* Distanza tra il bordo e il testo */
    -fx-pref-width: 200px;        /* Larghezza prefissata della label */
    -fx-pref-height: 40px;        /* Altezza prefissata della label */
    -fx-wrap-text: true;          /* Abilita l'andata a capo per il testo */
    -fx-max-width: 250px;         /* Limita la larghezza massima */
 -fx-margin: 60px; 

}


#delButton{
    -fx-background-color: transparent;
}